@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Manrope:wght@400;500;600&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@400;500;600&family=Source+Serif+Pro:wght@400;600;700&family=Uchen&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.site-header {
    background: #e67817;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

.site-header a {
    font-weight: 600;
    color: white;
}

.navbar {
    background: white;
}

.navbar.fixed-top {
    box-shadow: 0 0 0.625rem 0 rgb(0 0 0 / 10%);
}

.navbar-toggler {
    border: none;
    font-size: 25px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #e67817 !important;
    border-bottom: 2px solid #e67817;
}

.navbar-nav .nav-item .nav-link:hover .las {
    transform: rotate(180deg);
    transition: all .25s ease-out;
}

.navbar-nav .nav-item .nav-link.active {
    color: #e67817 !important;
    border-bottom: 2px solid #e67817;
}

.user-menu {
    border-radius: 0px;
    border: none;
    background: #e67817;
    min-width: 100px;
    margin-right: -30px !important;
}

.user-menu a {
    color: white;
    background: #e67817;
    font-size: 13px
}

.user-menu a:hover {
    color: white;
    background: #e67817;
}

.user-menu a:focus {
    color: white;
    background: #e67817;
}

.flex-icons {
    color: rgba(0, 0, 0, 0.55);
    text-decoration: none;
    font-size: 25px;
    position: relative;
}

.flex-icons:hover {
  color: rgba(0, 0, 0, 0.55);
}

.flex-icons .cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4px;
    margin-right: -2px;
    font-size: 8px;
    background: #e67817;
}

.off-lap-only {
    margin-left: 30px;
}

.home-banner {
    position: relative;
}

.home-banner .carousel-arrow {
    border: 0;
    background: transparent;
    display: none !important;
    height: 50px;
    width: 45px;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
    outline: 0;
    cursor: pointer;
  }

  .home-banner:hover .carousel-arrow {
     display: block !important;
  }
  
  /* Modificação só pra a seta do próximo carousel ficar na direita */
  
  .home-banner .carousel-arrow.next {
    right: 0;
    margin-right: 15px;
  }

  /* filter: blur(4px);
  -webkit-filter: blur(4px); */

.banner-1 {
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) , url(../img/furniture-ban.jpg) no-repeat center;
    min-height: 500px;
    background-size: cover;
    padding-top: 120px;
}

.banner-2 {
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) , url(../img/fun-banner-2.jpg) no-repeat center;
    min-height: 500px;
    background-size: cover;
    padding-top: 120px;
}

.banner-3 {
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) , url(../img/furniture-2.jpg) no-repeat center;
    min-height: 500px;
    background-size: cover;
    padding-top: 120px;
}

.text-orange {
    color: #e67817;
}

.text-bree {
    font-family: 'Bree Serif', serif;
}

.text-manrope {
    font-family: 'Manrope', sans-serif;
}

.text-raleway {
    font-family: 'Raleway', sans-serif;
}

.text-uchen {
    font-family: 'Uchen', serif;
}

.text-source {
    font-family: 'Source Serif Pro', serif;
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.white-bot {
    height: 2px;
    width: 70px;
    background: white;
}

.btn-shop {
    color: white;
    background: #e67817;
    border: 1px solid #e67817;
    border-radius: 0px;
}

.btn-shop:hover {
    color: #e67817;
    background: transparent;
}

.cat-img {
    width: 100%;
    height: 250px;
    border-radius: 6px;
    transition: 0.5s all ease-in-out;
    /* filter: blur(2px);
    -webkit-filter: blur(2px); */
}

.categories-area:hover .cat-img {
    transform: scale(1.2);
}

.categories-area {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
}

.categories-area .content-overlay {
    background: rgba(0,0,0,0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 6px;
  }

  .cat-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }

  .cat-title h5 {
    font-size: 17px;
    margin-top: 5px;
  }

  .cat-title .cat-discount-rate {
    color: white;
    background: #e67817;
    padding: 3px 10px 3px 10px;
    font-size: 11px;
    border-radius: 20px;
  }

  .show-catbtn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    transition: 0.5s all ease-in-out;
  }

  .show-catbtn .btn-cat {
    color: white;
    background: #e67817;
    border: 1px solid #e67817;
    border-radius: 20px;
  }

  .categories-area:hover .show-catbtn {
    margin-right: 15px;
}

.center {
    position: relative;
}

.center .carousel-arrow {
    border: 0;
    background: transparent;
    display: none !important;
    height: 50px;
    width: 45px;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
    outline: 0;
    cursor: pointer;
  }

  .center:hover .carousel-arrow {
     display: block !important;
  }
  
  /* Modificação só pra a seta do próximo carousel ficar na direita */
  
  .center .carousel-arrow.next {
    right: 0;
    margin-right: 15px;
  }

.img-slider {
    width: 90%;
    height: 200px;
}

.slider-text p {
    font-size: 17px;
    margin-top: 8px;
}

.slider-text h5 {
    margin-top: -10px;
}

.img-responsive {
    width: 100%;
}

.contact-area {
    background: #f3e5d8;
}

.black-bot {
    background: #212529;
    height: 3px;
    width: 50px;
}

.contact-control {
    background: transparent;
    border-radius: 0px;
    color: #212529;
    border: 1px solid #212529;
}

.contact-control:focus {
    background: transparent;
    color: #212529;
    border: 1px solid #212529;
    box-shadow: none;
}

.btn-submit {
    border-radius: 0px;
    color: white;
    background: #212529;
    font-family: 'Manrope', sans-serif;
}

.img-contact {
    height: 100%;
}

.contact-info h5 {
    font-size: 18px;
}

.contact-info h5 span {
    margin-right: 10px;
    font-size: 20px;
}

.testimonials {
    position: relative;
}

.testimonials .carousel-arrow {
    border: 0;
    background: transparent;
    display: none !important;
    height: 50px;
    width: 45px;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
    outline: 0;
    cursor: pointer;
  }

  .testimonials:hover .carousel-arrow {
     display: block !important;
  }
  
  /* Modificação só pra a seta do próximo carousel ficar na direita */
  
  .testimonials .carousel-arrow.next {
    right: 0;
    margin-right: 15px;
  }

  .myslider-dots {
    list-style: none;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }
  
  .myslider-dots li {
    display: inline-block;
    margin: 0 3px;
  }
  
  .myslider-dots li > button {
    width: 20px;
    height: 4px;
    border: none;
    background: #f0d9c5;
    color: transparent;
    cursor: pointer;
    outline: none;
  }
  
  .myslider-dots li.slick-active > button {
    background: #e67817;
  }

  .img-testimonial {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .bg-enquiry {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(../img/enquiry-bg-2.jpeg) no-repeat center fixed;
    min-height: 300px;
    background-size: cover;
    padding-top: 90px;
  }

      /* background: #2e2c2b; */

  .footer-area .newsletter-area {
    background: #383635;
  }

  .form-floating>label {
    color: white !important;
  }

  .news-control {
    background: transparent;
    color: white !important;
    border-radius: 0px;
  }

  .news-control:focus {
    background: transparent;
    color: white !important;
    border-radius: 0px;
    box-shadow: none;
    border-color: white;
  }

  .sub-btn {
    background: white;
    color: #e67817;
    border-radius: 0px;
    border: 1px solid white;
    font-size: 17px;
  }

  .sub-btn:hover {
    background: transparent;
    color: white;
  }

  .social-icons a {
    color: white;
    text-decoration: none;
  }

  .social-icons a:hover {
    color: #e67817;
  }

  .footer-area .main-area {
    background: #222121;
  }

  .footer-area .main-area .foot-text {
    font-size: 14px;
    line-height: 1.7em;
  }

  .foot-links {
    list-style-type: none;
    padding-inline-start: 0px;
  }

  .foot-links li a {
    font-size: 14px;
    text-decoration: none;
    line-height: 2em;
  }

  .foot-links li a:hover {
    color: #e67817 !important;
  }

  .copyright {
    font-size: 12px;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #e67817;
    color: white;
    cursor: pointer;
    padding: 10px 18px 10px 18px;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: #e67817;
  }

  .other-banners {
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) , url(../img/living-room.jpg) no-repeat center;
    min-height: 300px;
    background-size: cover;
    padding-top: 80px;
  }

  .site-text {
    line-height: 1.8em;
  }

  .values-area .values-list {
    padding-inline-start: 0px;
  }

  .values-area .values-list li{
    line-height: 2em;
    list-style-type: none;
  }

  .values-area .values-list li .number {
    color: #e67817;
    margin-right: 5px;
    font-size: 8px;
  }

  .services-cat {
    cursor: pointer;
  }

  .services-cat .services-img img {
    width: 100%;
    height: 230px;
    transition: 1s all ease-in-out;
  }

  .services-cat .services-img {
    position: relative;
    overflow: hidden;
  }

  .services-img .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .services-img:hover .content-overlay{
    opacity: 1;
  }

  .services-img:hover img {
    scale: 1.2;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .services-img:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .fadeIn-bottom{
    top: 80%;
  }

  .btn-enquire {
    color: white;
    background: #e67817;
    border-radius: 0px;
    border: 1px solid #e67817;
  }

  .btn-enquire:hover {
    color: #e67817;
    border: 1px solid #e67817;
  }

  .cat-card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: none;
    border-radius: 2px;
    padding: 15px;
  }

  .btn-cat-menu {
    color: white;
    background: #e67817;
    border: 1px solid #e67817;
  }

  .btn-cat-menu:hover {
    color: #e67817;
    border: 1px solid #e67817;
  }

  .cat-card .cat-area ul {
    list-style: none;
    background: #e67817;
    padding-inline-start: 0px;
  }

  .cat-card .cat-area ul li .cat-list {
    color: white;
    border-bottom: 1px solid white;
    padding: 7px 10px 7px 10px;
  }

  .cat-card .cat-area ul li .cat-list:last-child {
    border-bottom: none;
  }

  .cat-card .cat-area ul li .cat-list .fa {
    cursor: pointer;
  }

  .cat-card .cat-area ul li a{
    color: white;
    text-decoration: none;
  }

  .subcat-area {
    background: white !important;
    padding: 5px 10px 5px 0px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
  }

  .subcat-area.show {
    display: block;
  }

  .subcat-area.hide {
    display: none;
  }

  .subcat-area li {
    margin-left: 5px;
  }

  .subcat-area li a {
    color: #222121 !important;
    text-decoration: none;
  }

  .subcat-area li a.active {
    color: #e67817 !important;
  }

  .subcat-area li a:hover {
    color: #e67817 !important;
  }

  .product-card {
    border-radius: 0px;
    border: none;
  }

  .img-prod-card {
    width: 100%;
    height: 200px;
  }

  .btn-cart {
    color: white !important;
    background: #e67817 !important
  }

  .product-link {
    text-decoration: none;
  }

  .product-card:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .multiimg .img-slider .img-multi {
    width: 90%;
    height: 90px;
    cursor: pointer;
  }

  .multiimg {
    position: relative;
}

.multiimg .carousel-arrow {
    border: 0;
    background: transparent;
    display: none !important;
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
    outline: 0;
    cursor: pointer;
    background: #e67817;
  }

  .multiimg:hover .carousel-arrow {
     display: block !important;
  }
  
  /* Modificação só pra a seta do próximo carousel ficar na direita */
  
  .multiimg .carousel-arrow.next {
    right: 0;
  }

  .cart-area .first-row {
    max-width: 200px;
    min-width: 100px;
  }

  .cart-table p {
     margin-bottom: 0px;
     font-size: 14px;
     line-height: 1.5em;
  }
  
  .cartcheck-btns {
    border-radius: 0px;
  }

  .checkout-text {
    font-size: 15px;
    line-height: 1.5em;
  }

  .checkout-subprice {
    font-size: 20px;
  }

  .total-area {
    background: #383635;
  }

  .auth-area {
    border: 2px solid #e67817;
    padding: 20px;
    border-radius: 5px;
    background: #fdfdfd;
  }

  .auth-bot {
    font-size: 14px;
  }